@import '../../scss/_colors.scss';
@import '../../scss/_fonts.scss';

.container {
  padding: 0 25px;
}
.information {
  margin-top: 25px;
  text-align: left;
}
.company {
  color: var(--orange);
  font-weight: bold;
  text-transform: uppercase;
}
.title {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.subtitle {
  color: var(--blue-300);
  line-height: 1.7;
  margin-bottom: 15px;
}

.cost { 
  font-weight: 700;
  font-size: 30px;
  position: relative;
  nav {
    position: absolute;
    padding: 3px 10px;
    background-color: var(--orange-100);
    border-radius: 10px;
    font-size: 20px;
    color: var(--orange);
    right: -70px;
    top: 3px;
  }
}
.oldPrice {
  font-weight: 700;
  color: var(--blue-200);
  text-decoration: line-through;
}


@media screen and (max-width: 360px) {
  .title {
    font-size: 25px;
  }
  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}