:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --blue-100: hsl(223, 64%, 98%);
  --blue-200: hsl(220, 14%, 75%);
  --blue-300: hsl(219, 9%, 45%);
  --blue-400: hsl(220, 13%, 13%);

  --orange: hsl(26, 100%, 55%);
  --orange-100: hsl(25, 100%, 94%);
}